.wrapper {
    width: 400px;
    height: 450px;
    color : rgb(255, 255, 255);
    margin-left: 600px;
    margin-bottom: 159px;
    margin-top: 70px;
    padding : 60px 30px;
    box-sizing: border-box;
    box-shadow: 8px 8px 50px rgb(181, 181, 181);
    h1{
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 28px;
        text-align: center ;
        margin-bottom: 8%;
        font-family:Courgette;
    }
    input{
        width: 100%;
        margin-bottom: 20px;

    }
    input[type=text],input[type=password]{
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        outline : none;
        height: 30px;
        font-size: 16px;
        opacity: 1;
        color: #ccc;
    }
    input[type=submit]{
        border: none;
        outline: none;
        height: 40px;
        background: #f6648b;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        &:hover{
            cursor: pointer;
        }
        a {
            font-size: 14px;
            text-decoration: none;
            color: #fff;
            opacity: 0.8;
            &:hover{
                color: #fff;
                opacity: 1;
            }
        }
        .bottom_text{
            color: #fff;
            input {
                width: 10%;
                float: left;
            }
            a{
                float: right;


            }
        }
    }
}